<div class="card-wrapper products__item">
    <h2 class="card-title">
        {{name}}
    </h2>

    <img src="{{imageURL}}" alt={{name}} />

    <p class="card-desc">
        {{description}}
    </p>
    <span class="card-price">
        Rs. {{price}}
    </span>
    <button class="card-action" data-product={{id}}>
    Buy Now     <span class="sm">&nbsp;@ Rs. {{price}} 
        </span>
    </button>
</div>