<!DOCTYPE html>
<html>
<head>
	<title>Sabka Bazaar</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Dosis:400,600,700" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="./utils/fonts/icofont.min.css">
</head>
<body>
	{{#data}}
		{{> ../../common/organisms/o-header}}
		<section class="container">
			<div class ="row">
				<section class ="carousel-container">
					
					<div class="carousel-wrapper">
						{{#each banners}}
						<img src ={{bannerImageUrl}} alt ={{bannerImageAlt}}>
						{{/each}}
					</div>
					<button class ="controls next">Next</button>
					<button class ="controls prev">Prev</button>
				</section>
			</div>
			<div class="row">
				{{#each categories}}
				<div class="col col-xs-12 home-category-container">
					<div class ="row">
						<div class ="col col-xs-7 col-sm-4">
							<img src={{imageUrl}} alt ={{name}}>
						</div>
						<div class ="col col-xs-5 col-sm-8">
							<div class ="category-info">
								<h4>{{name}}</h4>
								<p>{{description}}</p>
								<button><a href ="/products.html?id={{id}}">Explore {{key}}</a></button>
							</div>
						</div>
					</div>
				</div>
				{{/each}}
			</div>
		</section>
	{{/data}}
</body>
</html>