<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Shopping App</title>
    {{!--
    <meta name="viewport" content="width=device-width" /> --}}
    <link rel="stylesheet" href="../static/styles/products.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dosis:400,600,700">
</head>

<body>
    <div class="productPage">

        <nav>
            {{#each categories}}
            <a href="/">{{this.name}}</a>
            {{/each}}
        </nav>

        <div class="products_container">
            {{#each products}}
            <div class="product">
                <h4 class="displayDesktop">{{this.name}}</h4>
                <h2>{{this.name}}</h2>
                <div class="products_description">
                    <section>
                        <img src="{{this.imageURL}}">
                    </section>
                    <section>
                        <p>{{this.description}}</p>
                        <button class="displayTablet">Buy Now @ MRP Rs.{{this.price}}</button>
                    </section>
                </div>
                <button class="displayMobile displayDesktop">Buy Now @ MRP Rs.{{this.price}}</button>
                <section class="desktop_buttonGroup displayMobile displayTablet">
                    <span>MRP Rs.{{this.price}}</span>
                    <button>Buy Now</button>
                </section>

            </div>
            {{/each}}
        </div>


    </div>

</body>

</html>