{{!--
<link rel="" href=""> --}}


<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Shopping App</title>
    <link rel="stylesheet" href="../static/styles/banners.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dosis:400,600,700">
</head>

<body>
    {{!-- <div class="carousel"> 
        <ul class="banners">
            {{#each data}}
            <li>
                <img src="{{this.bannerImageUrl}}">
            </li>
            {{/each}}
        </ul>
    </div> --}}
    <section class="carousel">
        <ol class="carousel_viewport">
             {{#each data}}
           <li class="carousel_slide1" tabindex="0" class="carousel__slide">
                <img src="{{this.bannerImageUrl}}">
           </li> 
           {{/each}}
        </ol>
    </section>
    <div class="categories"> 
        <ul >
            {{#each categories}}
            <li>
                <img src="{{this.imageUrl}}">
                <section>
                    <h1>{{this.name}}</h1>
                    <p>{{this.description}}</p>
                    <button href="/page">Explore {{this.key}}</button>
                </section>               
                {{!-- <span>{{this.description}}</span> --}}
            </li>
            {{/each}}
        </ul>
    </div>
</body>

</html>