<main class="cart-main" id="cart">
    <div class="cart">
        <h4 class="cart-header">{{name}}
            {{content.mycart}}({{itemCounter}} {{content.item}})</a>
        </h4>
        
        <section class="cart-content">
            {{#each productInCart}}
            <div class="cart-items">
                <img src={{imageURL}} alt={{description}} width="10%" />
                <div class="item-cal">
                    <h6>{{name}}</h6>
                    <div>
                        <button id="minus-item" class="add-remove-items" data-id='{{id}}' data-index={{@index}} data-price={{price}} data-operation='minus'>-</button>
                        <span id="prod{{@index}}">{{count}}</span>
                        <button id="plus-item" class="add-remove-items" data-id='{{id}}' data-index={{@index}} data-price={{price}} data-operation='plus'>+</button>
                        <i class="fa fa-times" aria-hidden="true"></i>
                        <span>Rs{{price}}</span>
                        <span class="total-amt" id="totalp{{@index}}">Rs{{totalPrice}}</span>
                    </div>
                </div>
            </div>
            {{/each}}
            <div class="cart-caption">
                <img src="/images/lowest-price.png" alt="image for lowest price guaranteed" width="30%" />
                <p>{{content.cheaper}}</p>
            </div>
        </section>
        
        <section class="cart-footer">
            <p>{{content.promo}}
                <a class="btn" href="#">{{content.checkout}}
                    <span id="total-checkout-amt">Rs187</span><i class="fa fa-angle-right" aria-hidden="true"></i>
                </a>
            </p>

        </section>
    </div>
</main>
 <link rel="stylesheet" type='text/css' href="/css/cart.css" />