
<section>
	<div class="slideshow-container">
		<div id="banners-container">
			{{#each banners as |value key|}}
				<div class="mySlides fade">
				  <img src="{{value.bannerImageUrl}}">
				</div>
			{{/each}}
		</div>
		<a class="prev" onclick="plusSlides(-1)">Prev</a>
		<a class="next" onclick="plusSlides(1)">Next</a>
	</div>
	<br>
	<div style="text-align:center" id="carousal-dot">
			{{#each banners  as |value key|}}
				 <span class="dot" onclick="currentSlide({{@index}})"></span> 
			{{/each}}
	</div>	
</section>
<section class="categories-section">
	<div id="categories-container">
			{{#each categories as |value key|}}
			{{#ifEven key}}
			<div class="row category-block">
			<div class="col span-1-of-2 img-block">
				<img src="{{value.imageUrl}}" class="category-img">
			</div>
			<div class="col span-1-of-2 desc-block">
				<p class="category-title">{{value.name}}</p>
				<p class="category-desc">{{value.description}}</p>
				<button class="category-btn">Explore {{value.key}}</button>
			</div>
			</div>
			{{else}}
			<div class="row category-block">
				<div class="col span-1-of-2 desc-block">
						<p class="category-title">{{value.name}}</p>
						<p class="category-desc">{{value.description}}</p>
						<button class="category-btn">Explore {{value.key}}</button>
				</div>
				<div class="col span-1-of-2 img-block">
					<img src="{{value.imageUrl}}" class="category-img">
				</div>
					
			</div>
			{{/ifEven}}
			{{/each}}
	</div>
</section>
	