<main class="home_container">
    <section class="slideshow-section">
        <div class="slideshow-container">
            {{#each banners}}
            <div class="mySlides fade">
                <img src={{bannerImageUrl}} alt={{bannerImageAlt}} width="100%" />
            </div>
            {{/each}}

            <a class="prev" onclick="plusSlides(-1)"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i></a>
            <a class="next" onclick="plusSlides(1)"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></a>
        </div>

        <div class="dot-container">
            {{#each banners}}
            <span class="dot" onclick="currentSlide({{order}})"></span>
            {{/each}}
        </div>
    </section>

    <section class="prod_section">
        {{#each categories}}
        {{#if_eq key "fruit-and-veg"}}
        <div class="prod_image left"><img src={{imageUrl}} alt={{key}} width="100%" /></div>
        <aside class="prod_content right">
            <h4>{{name}}</h4>
            <p>{{description}}</p>
            <a class="btn" href="#">Explore {{key}}</a>
        </aside>
        {{/if_eq}}
        {{/each}}
    </section>

    <section class="prod_section">
        {{#each categories}}
        {{#if_eq key "bakery-cakes-dairy"}}
        <aside class="prod_content left">
            <h4>{{name}}</h4>
            <p>{{description}}</p>
            <a class="btn" href="#">Explore {{key}}</a>
        </aside>
        <div class="prod_image right"><img src={{imageUrl}} alt={{key}} width="100%" /></div>
        {{/if_eq}}
        {{/each}}
    </section>

    <section class="prod_section">
        {{#each categories}}
        {{#if_eq key "beverages"}}
        <div class="prod_image left"><img src={{imageUrl}} alt={{key}} width="100%" /></div>
        <aside class="prod_content right">
            <h4>{{name}}</h4>
            <p>{{description}}</p>
            <a class="btn" href="#">Explore {{key}}</a>
        </aside>
        {{/if_eq}}
        {{/each}}
    </section>

    <section class="prod_section">
        {{#each categories}}
        {{#if_eq key "beauty-hygiene"}}
        <aside class="prod_content left">
            <h4>{{name}}</h4>
            <p>{{description}}</p>
            <a class="btn" href="#">Explore {{key}}</a>
        </aside>
        <div class="prod_image right"><img src={{imageUrl}} alt={{key}} width="100%" /></div>
        {{/if_eq}}
        {{/each}}
    </section>

    <section class="prod_section">
        {{#each categories}}
        {{#if_eq key "baby"}}
        <div class="prod_image left"><img src={{imageUrl}} alt={{key}} width="100%" /></div>
        <aside class="prod_content right">
            <h4>{{name}}</h4>
            <p>{{description}}</p>
            <a class="btn" href="#">Explore {{key}}</a>
        </aside>
        {{/if_eq}}
        {{/each}}
    </section>
</main>