<div class="home_container">
    <section class="slideshow-section">
        <div class="slideshow-container">
            {{#each banners}}
            <div class="mySlides fade">
                <img src={{bannerImageUrl}} alt={{bannerImageAlt}} width="100%"/>
            </div>
            {{/each}}

            <a class="prev" onclick="plusSlides(-1)"><i class="fa fa-chevron-circle-left"></i></a>
            <a class="next" onclick="plusSlides(1)"><i class="fa fa-chevron-circle-right"></i></a>
        </div>
        
        <div class="dot-container">
            {{#each banners}}
            <span class="dot" onclick="currentSlide({{order}})"></span>
            {{/each}}
        </div>
    </section>

    <section class="prod_section">
        {{#each categories}}
        {{#if_eq key "fruit-and-veg"}}
        <div class="prod_image_section left"><img src={{imageUrl}} alt={{key}} width="100%"/></div>
        <div class="prod_text_section right">
            <p><strong>{{name}}</strong></p>
            <p>{{description}}</p>
            <a class="btn" href="#">Explore {{key}}</a>
        </div>
        {{/if_eq}}
        {{/each}}
    </section>

    <section class="prod_section">
        {{#each categories}}
        {{#if_eq key "bakery-cakes-dairy"}}
        <div class="prod_text_section left">
            <p><strong>{{name}}</strong></p>
            <p>{{description}}</p>
            <a class="btn" href="#">Explore {{key}}</a>
        </div>
        <div class="prod_image_section right"><img src={{imageUrl}} alt={{key}} width="100%"/></div>
        {{/if_eq}}
        {{/each}}
    </section>

    <section class="prod_section">
        {{#each categories}}
        {{#if_eq key "beverages"}}
        <div class="prod_image_section left"><img src={{imageUrl}} alt={{key}} width="100%"/></div>
        <div class="prod_text_section right">
            <p><strong>{{name}}</strong></p>
            <p>{{description}}</p>
            <a class="btn" href="#">Explore {{key}}</a>
        </div>
        {{/if_eq}}
        {{/each}}
    </section>

    <section class="prod_section">
        {{#each categories}}
        {{#if_eq key "beauty-hygiene"}}
        <div class="prod_text_section left">
            <p><strong>{{name}}</strong></p>
            <p>{{description}}</p>
            <a class="btn" href="#">Explore {{key}}</a>
        </div>
        <div class="prod_image_section right"><img src={{imageUrl}} alt={{key}} width="100%"/></div>
        {{/if_eq}}
        {{/each}}
    </section>

    <section class="prod_section">
        {{#each categories}}
        {{#if_eq key "baby"}}
        <div class="prod_image_section left"><img src={{imageUrl}} alt={{key}} width="100%"/></div>
        <div class="prod_text_section right">
            <p><strong>{{name}}</strong></p>
            <p>{{description}}</p>
            <a class="btn" href="#">Explore {{key}}</a>
        </div>
        {{/if_eq}}
        {{/each}}
    </section>
</div>