<main class="form-content">
    <aside class="left-content">
        <h1>{{content.login}}</h1>
        <p>{{content.access}}</p>
    </aside>
    <section class="right-content">
        <form action="#" method="POST" id="login-form">
            <p id="error" class="error"></p>

            <input type="text" id="email" name="email" placeholder={{content.email}} onkeyup="validate(this);"
                onfocus="this.placeholder = ''" onmouseover="this.placeholder = ''"
                onmouseout="this.placeholder = '{{content.email}}'">
            <p id="email-error" class="error"></p>

            <input type="password" id="password" name="password" placeholder={{content.password}} onfocus="this.placeholder = ''"
                onkeyup="validate(this);" onmouseover="this.placeholder = ''"
                onmouseout="this.placeholder = '{{content.password}}'">
            <p id="pwd-error" class="error"></p>

            <input type="button" class="submit" id="submit-login" value="Login">
        </form>
    </section>
    </div>
</main>
<script src="/js/login.js"></script>