<section class="parent-ctr">
   <!--<div class="col category-wrapper">
				{{#each categories}}
				<div class="row category-bg {{this.id}}" onclick="selectCategory('{{this.id}}')">
					{{this.name}}
				</div>	
				{{/each}}
	</div>-->
    <div class="product-wrapper">
        {{#each products}}
        	<div class="product">
        		<div class="name">{{this.name}}</div>
				<div class="img-holder">
					<div class="img-ctr col"><img src={{this.imageURL}}></div>
					<div class="desc-ctr col">
						<div class="desc">{{this.description}}</div>
						<div class="btn-box"><button type="button" class="btn-buy">Buy now @ MRP{{this.price}}</button></div>
					</div>
				</div>
        	</div>
        {{/each}}
    </div>
</section>