<section class="parent-ctr">
    <div class="col category-wrapper">
   			<div class="md-screen">
				{{#each categories}}
				<div class="row category-bg {{this.id}}" onclick="selectCategory('{{this.id}}')">
					{{this.name}}
				</div>	
				{{/each}}
			</div>
			<div class="sm-screen padding5">
				<div class="dropdown">
		    		<button class="dropbtn">Select Categories 
				      <i class="fa fa-caret-down"></i>
				    </button>
				    <div class="dropdown-content">
				    {{#each categories}}
				     <a onclick="selectCategory('{{this.id}}')">{{this.name}}</a>
					{{/each}}
			    </div>
			  </div> 
			</div>
	</div>
    <div class="product-wrapper col">
        {{#each products}}
        	<div class="product">
        		<div class="name padding5">{{this.name}}</div>
				<div class="img-holder">
					<div class="img-ctr col"><img src={{this.imageURL}}></div>
					<div class="desc-ctr col ">
						<div class="desc padding5">{{this.description}}</div>
						<div class="btn-box paddingTop10">
							<div class="price-ctr lg-screen">MRP{{this.price}}</div>
							<div class="btn-ctr">
								<button type="button" class="btn-buy" onclick="buy('{{this.id}}')">
									<span class="md-screen"  >Buy now @ MRP{{this.price}}</span>
									<span  class="lg-screen">Buy now</span>
								</button>
							</div>
						</div>
					</div>
				</div>
				<div class="btn-box-pad paddingTop10"><button type="button" class="btn-buy"  onclick="buy('{{this.id}}')">Buy now @ MRP{{this.price}}</button>
				</div>
        	</div>
        {{/each}}
    </div>
</section>