<main class="products-container">
    <nav class="navbar">
        <ul>
            <i class="fa fa-angle-down"></i>
            {{#each prodCategories}}
            {{#if enabled}}
                <li><a href="/product/{{this.id}}">{{name}}</a></li>
            {{/if}}    
            {{/each}}
        </ul>
    </nav>

    <section class="prodlist-container">
        {{#each productList}}
        <div class="product-item">
            <h4>{{name}}</h4>
            <img src={{imageURL}} alt={{description}} width="80%"/>
            <h6>{{description}}</h6>
            <div class="desktop-prod">
                <span>Rs.{{price}}</span><button id="buyItem" class="btn" data-id='{{this.id}}' data-operation='add'>{{buy}}</button>
            </div>      
            <div class="tablet-prod">
                <button class="btn" data-id='{{this.id}}' data-operation='add'>{{buy}} @ Rs{{price}}</button>
            </div>    
        </div>    
        {{/each}}
    </section>
</main>
<link rel="stylesheet" type='text/css' href="/css/product.css" />
