<section class="products-wrapper container">
    <div class="">
        <div class="categories-wrapper">
            {{#each categories}}
                {{#if this.enabled}}
                    <div class="category-name"><strong>{{this.name}}</strong></div>
                {{/if}}
            {{/each}}
        </div>
        <div class="categories-wrapper-phone w3-container">
            <div class="category-phone">
                <div onclick="myFunction()"><span>Categories</span><span class="pull-right"><i class="fa fa-angle-down " aria-hidden="true"></i></span></div>
                <div id="Demo" class="w3-dropdown-content w3-bar-block w3-border">
                    {{#each categories}}
                        {{#if this.enabled}}
                            <div class="category-name"><strong>{{this.name}}</strong></div>
                        {{/if}}
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="product-wrapper">
            {{#each products}}
                <div class="product">
                    <div class="product-name" title="{{this.name}}"><strong>{{this.name}}</strong></div>
                    <div class="product-image">
                        <img class="pro-img" src="{{this.imageURL}}" alt="{{this.name}}" align="middle">
                    </div>
                    <div class="product-description" title="{{this.description}}">{{this.description}}</div>
                    <div class="pricing-purchasing">
                        <span class="pricing">MRP Rs {{this.price}}</span>
                        <button class="purchasing" tabindex="0">Buy now&nbsp;<span class="smaller-device">@ {{this.price}}</span></button>                        
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</section>
<script src="/product.js"></script>