<main class="products_container">
    <nav class="navbar">
        <ul>
            <i class="fa fa-angle-down"></i>
            {{#each prodCategories}}
                <li><a href="/product/{{this.id}}">{{name}}</a></li>
            {{/each}}
        </ul>
    </nav>

    <section class="prodlist_container">
        {{#each productList}}
        <div class="product_item">
            <h4>{{name}}</strong></h4>
            <img src={{imageURL}} alt={{description}} width="80%"/>
            <h6>{{description}}</h6>
            <div class="desktop_prod">
                <span>Rs.{{price}}</span><a class="btn" onclick="buyItem('{{this.id}}', 'add')">Buy Now</a>
            </div>      
            <div class="tablet_prod">
                <a class="btn" onclick="buyItem('{{this.id}}', 'add')">Buy Now @ Rs{{price}}</a>
            </div>    
        </div>    
        {{/each}}
    </section>
</main>
