<main class="form-content">
    <aside class="left-content">
        <h1>{{content.register}}</h2>
            <p>{{content.access}}</p>
    </aside>
    <section class="right-content">
        <form action="#" method="POST">
            <p class="emptyerror error"></p>

            <input type="text" name="fname" placeholder={{content.fname}} onkeyup="validate(this);"
                onfocus="this.placeholder = ''" onmouseover="this.placeholder = ''"
                onmouseout="this.placeholder = '{{content.fname}}'">
            <p class="fname-error error"></p>

            <input type="text" name="lname" placeholder={{content.lname}} onkeyup="validate(this);"
                onfocus="this.placeholder = ''" onmouseover="this.placeholder = ''"
                onmouseout="this.placeholder = '{{content.lname}}'">
            <p class="lname-error error"></p>

            <input type="text" name="email" placeholder={{content.email}} onkeyup="validate(this);"
                onfocus="this.placeholder = ''" onmouseover="this.placeholder = ''"
                onmouseout="this.placeholder = '{{content.email}}'">
            <p class="email-error error"></p>

            <input type="password"name="password" placeholder={{content.password}} onkeyup="validate(this);"
                onfocus="this.placeholder = ''" onmouseover="this.placeholder = ''"
                onmouseout="this.placeholder = '{{content.password}}'">
            <p class="password-error error"></p>

            <input type="password" name="cpassword" placeholder={{content.cpassword}} onkeyup="validate(this);"
                onfocus="this.placeholder = ''" onmouseover="this.placeholder = ''"
                onmouseout="this.placeholder = '{{content.cpassword}}'">
            <p class="cpassword-error error"></p>

            <input type="button" id="submit-register" class="submit" value="Signup">
        </form>
    </section>
</main>