<div class="product">
	<div class="name padding5">{{this.name}}</div>
	<div class="img-holder">
		<div class="img-ctr col">
		 {{> atoms/a-img imageUrl=this.imageURL}}
		 </div>
		<div class="desc-ctr col ">
			<div class="desc padding5">{{this.description}}</div>
			<div class="btn-box paddingTop10">
				<div class="price-ctr lg-screen">MRP{{this.price}}</div>
				<div class="btn-ctr">
				 {{> atoms/a-button imageUrl=this.imageURL click =(concat 'buy( "' this.id '")') btntext="sd" }}
					<!--<button type="button" class="btn-buy" onclick="buy('{{this.id}}')">
						<span class="md-screen">Buy now @ MRP{{this.price}}</span>
						<span  class="lg-screen">Buy now</span>
					</button>-->
				</div>
			</div>
		</div>
	</div>
	<div class="btn-box-pad paddingTop10"><button type="button" class="btn-buy"  onclick="buy('{{this.id}}')">Buy now @ MRP{{this.price}}</button>
	</div>
</div>