<section class="parent-ctr">
    <div class="category-wrapper">
   			<ul class="categories__list">
				{{#each categories}}
				<li class="category__item cursor-link {{this.id}}" onclick="selectCategory('{{this.id}}')">
				   	<a href=""  onclick="return false;">{{this.name}}</a>
				</li>	
				{{/each}}
			</ul>
			<div class="categories__dropdown">
				<div class="dropdown">
		    		<button class="dropbtn">Select Categories 
				      <i class="fa fa-caret-down"></i>
				    </button>
				    <div class="dropdown-content">
				    {{#each categories}}
				     <a onclick="selectCategory('{{this.id}}')">{{this.name}}</a>
					{{/each}}
			    </div>
			  </div> 
			</div>
	</div>
    <div class="product-wrapper">
        {{#each products}}
        {{> molecules/m-product this}}
        {{/each}}
    </div>
</section>