<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset='utf-8' />
        <title>{{seoInfo.title}} - Ecommerce</title>
        <meta name='renderer' content='webkit|ie-stand' />
        <meta name='Keywords' content='{{seoInfo.keywords}}' />
        <meta name='Description' content='{{seoInfo.description}}' />
        <meta name='viewport' content='width=device-width, initial-scale=1.0' />
        <meta name="theme-color" content="#d00256"/>
        <link
            rel='preload'
            href='https://bulma.io/vendor/fontawesome-free-5.15.2-web/css/all.min.css'
            as='style'
            onload="this.onload=null;this.rel='stylesheet'"
        />
        <noscript>
            <link
                rel='stylesheet'
                href='https://bulma.io/vendor/fontawesome-free-5.15.2-web/css/all.min.css'
            />
        </noscript>
        {{{renderSections.styles}}}
    </head>
    <body>
        {{{body}}}
    </body>
    <script id='mytemplate' type='text/x-handlebars-template'>
        {{#each sites}}
            <ul> <li>{{siteName}}</li> <li>{{domainName}}</li> <li>{{uppercase
                description
            }}</li> </ul>
        {{/each}}
    </script>

    {{{renderSections.scripts}}}
    {{#eq settings.env 'local'}}
        <script src='/reload/reload.js'></script>
    {{/eq}}
</html>