<div class="product">
    <h1 class="product-title" title="{{this.name}}">{{this.name}}</h1>
        <div class="product-view">
            <div class="product-image">
                <img src="{{this.imageURL}}" alt="{{this.name}}">
            </div>
            <div class="product-details">
                <p class="product-description" title="{{this.description}}">{{this.description}}</p>
                <div class="product-price-details" aria-label="Price for {{this.name}}">MRP: {{this.price}}</div>
                <button class="btn product-buy-button" value={{this.id}} onclick="addToCart(event)" aria-label="Buy Now Button">Buy Now<span class="button-mobile-text">@ {{this.price}}</span></button>
            </div>
        </div>
         <button class="btn product-buy-button-ipad" value={{this.id}} onclick="addToCart(event)" aria-label="Buy Now Button">Buy Now @ {{this.price}}</button>
</div>