<section class="product-listing-wrap top-padding plp-section">
    <div class="wrapper">
        <div class="row">
            <div class="product-filter col-md-3 col-xs-12" id="page-nav">
                <!-- [THE HAMBURGER] -->
                <label for="product-hamburger">Fruits &amp; Vegetables</label>
                <input type="checkbox" id="product-hamburger" />
                <ul class="product-categories">
                    {{#each categories}}
                    <li><a href="/product/{{this.id}}">{{this.name}} </a> </li>
                    {{/each}}
                </ul>
            </div>
            <div class="product-list col-md-9 col-xs-12">
                <div class="product-detail row">
                    {{#each productList}}
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="product-box row">
                            <h3 class="col-xs-12">{{this.name}}</h3>
                            <div class="col-xs-6 col-sm-6 col-md-12
                                product-image">
                                <img src="{{this.imageURL}}" alt="{{this.name}}" class="width-100">
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-12
                                product-description">
                                <p class="description-box">{{this.description}}</p>
                                <div class="product-pricing">
                                    <a href="" class="button-small
                                        product-card__buy--btn" id={{id}}>Buy
                                        Now
                                        <span>MRP Rs.{{this.price}}</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript" src="/js/product.js"></script>