<header class='container is-fullhd px-3'>
    <div
        role='navigation'
        arial-label='top-navigation-register-login'
        class='is-flex is-justify-content-end is-hidden-mobile'
    >
        <a href='/signup' class='is-link mr-2 has-text-black is-size-7'>Sign Up</a>
        <a href='/login' class='is-link mr-2 has-text-black is-size-7'>Login</a>
    </div>
    <nav class='navbar is-flex is-align-items-center' role='navigation' aria-label='main navigation'>
        <div class='navbar-brand is-flex-direction-row-reverse is-flex-grow-1-mobile'>
            <a class='navbar-item header-logo is-flex-grow-1-mobile' href='/'>
                <img src='/assets/images/logo.png' alt='homepage' />
            </a>
            <a
                role='button'
                class='navbar-burger'
                aria-label='menu'
                aria-expanded='false'
                data-target='navbarBasicExample'
            >
                <span aria-hidden='true'></span>
                <span aria-hidden='true'></span>
                <span aria-hidden='true'></span>
            </a>
        </div>

        <div id='navbarBasicExample' class='navbar-menu is-flex-grow-1'>
            <div class='navbar-start is-flex'>
                <a
                    class='link has-text-centered navbar-link is-arrowless {{#eq seoInfo.page 'home'}}is-active{{/eq}}'
                    href='/'
                >
                    Home
                </a>

                <a class='link has-text-centered navbar-link is-arrowless {{#eq seoInfo.page 'products'}}is-active{{/eq}}' href='/products'>
                    Products
                </a>
            </div>
        </div>
        <div class='is-flex-end'>
            <div class='navbar-item'>
                <div class='buttons'>
                    <button aria-label="mini cart toggle button" class='button cart-button' onclick="miniCart.toggleMiniCart(true)">
                        {{{icons.cartIcon}}}
                        <span id="total-cart-items">{{miniCart.length}}</span> &nbsp;Items
                    </button>
                    <div id="mini-cart" aria-expanded="false" tabindex="-1" aria-label="min-cart" class="mini-cart is-hidden">
                        <div class="mini-cart__backdrop" onclick="miniCart.toggleMiniCart(false)"></div>
                        <div class="mini-cart__wrapper">
                            <div>
                                <div class="mini-cart__header">
                                    <h3 class="mb-0">Mini Cart</h3>
                                    <button class="button" onclick="miniCart.toggleMiniCart(false)">X</button>
                                </div>
                            </div>
                            <div id="no-items-cart-msg" class="{{#eq miniCart.length 0}}{{else}}is-hidden{{/eq}} is-flex is-flex-grow-1 is-align-items-center has-text-centered is-justify-content-center">
                                <h4>No Items In Cart</h4>
                            </div>
                            <div class="{{#eq miniCart.length 0}}is-hidden{{else}}{{/eq}} is-flex-grow-1">
                                <div class="mini-cart__items-container">
                                    <div class="mini-cart__body">
                                        <div class="is-flex-shrink-1 px-2 cart-items-list">
                                            {{#each miniCart.items}}
                                                {{> miniCartItem}}
                                            {{/each}}
                                        </div>
                                        <figure class="is-flex-grow-0 is-flex-shrink-0 m-2">
                                            <img src="/assets/images/lowest-price.png" alt="Lowest price ever to any product" />
                                        </figure>
                                    </div>
                                </div>
                                <div>
                                    <div class="mini-cart__footer">
                                        <p class="has-text-centered is-size-7 mb-2">Promo Code can be applied on payment page</p>
                                        <button class="button is-primary mb-0 is-flex is-justify-content-space-between">
                                            <span>Proceed To Checkout</span>
                                            <span>Rs. <span id="cart-grand-total">{{getCartTotal miniCart.items}} </span> ></span>  
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>