<div class="cart-wrapper">
   <div class="header-container">
      <h1 class="heading">
         My cart  ( {{items}} Items )
      </h1>
      <button type="button" name="button" class="btn-close" aria-label="Close">
      </button>
   </div>
   <ul class="cart_list">
      {{#each data}}
      <li class="cart_list-item" data-product-id={{ id }}>
         <img src={{ imageUrl }}  class="cart_list-img" alt={{name}}>
         <!-- to be changed later for future -->
         <div class="cart_list-details">
            <!-- TODO : under span -->
            <span class="cart_list-name">{{name}}</span>
            <button type="button" name="button" class="btn-increment" data-product-id={{ id }}>
            +
            </button>
            <span class="quantity">
            {{#if " quantity != '' " }}
            {{quantity}}
            {{else}}
            0
            {{/if}}
            </span>
            <button type="button" name="button" class="btn-decrement" data-product-id={{ id }}>
            -
            </button>
            <span class="into-qty">
            X
            </span>
            <span class="cart_list-price">Rs. {{price}}</span>
         </div>
         <span class="cart_list-item-total">
         {{#if totalPrice}}
         Rs.{{ totalPrice }}
         {{else}}
         Rs.{{ price }}
         {{/if}}
         </span>
      </li>
      {{/each }}
   </ul>
   <div class="checkout">
      <span class="checkout-heading">
      Promo code can be applied on the checkout page.
      </span>
      <button type="button" name="button" class="btn-cart-checkout checkout-button">
         <!-- TODO: remove containers -->
         <span class="checkout-text">
         Proceed to checkout
         </span>
         <span class="checkout-price">
         Rs.  817 >
         </span>
      </button>
   </div>
</div>
