<ul class='product-list' role="list">
  {{#each .}}
  <li class='product-cards' role="listitem">
    <span class='product-name truncate'>
      {{name}}
    </span>
    <img src={{imageURL}} alt={{name}} class='product-img' role="img" aria-label={{ description }} />
    <p class='product-desc' title={{ description }}>
      {{ description }}
    </p>
    <button
    class='btn-cta mobile tablet'
    data-prod-id={{id}}
    data-prod-name={{name}}
    data-prod-price={{price}}
    data-prod-img={{imageURL}}
    >
    Buy Now @ Rs. {{ price }}
  </button>
  <div class='product-cta-container'>
    <span class='product-price'>
      MRP Rs. {{ price }}
    </span>
    <button
    class='btn-cta'
    data-prod-id={{id}}
    data-prod-name={{name}}
    data-prod-price={{price}}
    data-prod-img={{imageURL}}
    >
    Buy Now
  </button>

</div>
</li>
{{/each }}
</ul>
