<div class='product-list'>
    {{#each .}}
    <div class='product-cards' >
        <p class='product-name'>
            {{name}}
        </p>
        <img src={{imageURL}} alt={{name}} class='product-img' />
        <p class='product-desc'>
            {{ description }}
        </p>
        <div class='product-cta-container'>
            <p class='product-price'>
                MRP Rs. {{ price }}
            </p>
            <button
            class='btn-cta'
            data-prod-id={{id}}
            data-prod-name={{name}}
            data-prod-price={{price}}
            data-prod-img={{imageURL}}
            >
            Buy Now
        </button>
    </div>
</div>
{{/each }}
</div>
