<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="/resources/css/products.css" />
  </head>
  <body class="container">
    <header>
      <% include ../partials/header %>
    </header>
    <main class="flex-row">
      <div class="category-list">
        <% for(var i=0; i < categories.length; i++) { %>
        <a href="/products/<%= categories[i].key %>"><h1 class="category-list__name"><%= categories[i].name %></h1></a>
        <% } %>
      </div>
      <div class="flex-column product-list">
        <% for(var i=0; i < products.length;i) { %>
        <div class="product-list-row">
          <% for(i && i++; i < products.length; i++) { %>
          <div class="product-card">
            <h1 class="product-card__name"><%= products[i].name %></h1>
            <div class="product-card__detail">
              <img
                class="product-card__detail--img"
                src="<%= products[i].imageURL %>"
                alt="<%= products[i].name %> logo"
              />
              <p class="product-card__detail--description"><%= products[i].description %></p>
            </div>
            <div class="flex-row product-card__buy">
              <div class="flex-row product-card__buy--price">MRP Rs.<%= products[i].price %></div>
              <a href="" class="flex-row btn product-card__buy--btn">
                Buy Now <span class="product-card__buy--sm-txt">@Rs.<%= products[i].price %></span>
              </a>
            </div>
          </div>
          <% if ((i+1) % 4 === 0) { break; } } %>
        </div>
        <% } %>
      </div>
    </main>
    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
